.tempHolder, .medHolder, .sympHolder {
  border: 1px solid black;
  margin: 12px 12px 12px 12px;
  padding: 3px 3px 12px 3px;
  box-shadow: 5px 10px 8px #888888;
}

.newRecord {
  margin: 10px 10px;
}

.recordForm {
  margin: 10px 10px;
}